<form>
    <div class="row">
        <div class="col">
            <input name="classLibelle" [(ngModel)]="selectedClasse.classLibelle" type="text" class="form-control" placeholder="Class Name">
        </div>
        <div class="col">
            <input name="classDescription" [(ngModel)]="selectedClasse.classDescription" type="text" class="form-control" placeholder="Class Description">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col">
            <select name="classStatus" [(ngModel)]="selectedClasse.classStatus" class="form-control" id="exampleFormControlSelect1">
              <option>Class Status</option>
              <option>close</option>
              <option>open</option>
            </select>
        </div>
    </div>
    <div class="line"></div>
    <div>
        <button (click)="updateClass()" type="submit" class="btn btn-success">Submit</button>
    </div>
</form>