<form>
    <div class="row">
        <div class="col">
            <input name="classLibelle" [(ngModel)]="newClass.classLibelle" type="text" class="form-control" placeholder="Class Name">
        </div>
        <div class="col">
            <input name="classDescription" [(ngModel)]="newClass.classDescription" type="text" class="form-control" placeholder="Class Description">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col">
            <select name="classStatus" [(ngModel)]="newClass.classStatus" class="form-control" id="exampleFormControlSelect1">
              <option>Class Status</option>
              <option>close</option>
              <option>open</option>
            </select>
        </div>
    </div>
    <div class="line"></div>
    <div>
        <button (click)="addClass()" type="submit" class="btn btn-success">Submit</button>
    </div>
</form>